<!doctype html>
<!-- html tag with Thymeleaf -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
	<title>home</title>
</head>
<body>
	<div class="container">
		<h1>add a Pizza</h1>
		<form method="POST" th:object="${pizza}">
			<div>
				<label for="name">insert name</label>
				<input th:field="*{name}"
					type="text" name="name" id="name">
			</div>
			
			<div>
				<label for="price">insert price</label>
				<input th:field="*{price}"
					type="number" name="price" id="price" step=".01">
			</div>
			
			<div>
				<label for="description">insert desc</label>
				<input th:field="*{description}"
					type="text" name="description" id="description">
			</div>
			
			<div>
				<label for="url">insert url for pic</label>
				<input th:field="*{url}"
					type="text" name="url" id="url">
			</div>
			
			<ul>
				<li
					th:each="err : ${#fields.allErrors()}"
					th:text="${err}">
				</li>
			</ul>
			
			<input type="submit" value="STORE">
		</form>
	</div>
</body>
</html>